<form action="/login" method="post">
    username<input type="text" name="username">
    password<input type="password" name="password" id="p">
  <input type="submit">
</form>
<a href="/register">register here</a>