<form action="/saveproduct" method="post">
Product ID<input type="text" name="id">
    Product Name<input type="text" name="name">
    Product price<input type="text" name="price">
    <input type="submit">
</form>