<form action="/saveproduct" method="post" enctype="multipart/form-data">
   Product id<input type="text" name="id"> 
    Product Name<input type="text" name="name">
    Product price<input type="text" name="price">
    Product image<input type="file" name="file">
    <input type="submit">
</form>